<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.amcreatives.virka"
    versionCode = "01"      
   version     = "1.0.0" > 
<access origin="https://5m1qfi37ie.execute-api.eu-west-1.amazonaws.com/Dev/emailCode"/>
<access origin="https://s3-eu-west-1.amazonaws.com/virtualcard/*"/>

<!-- versionCode is optional and Android only -->
<plugin name="cordova-plugin-whitelist" source="npm"/>
    
<!--    for the interaciton and the management of the iframes-->
<plugin name="cordova-plugin-inappbrowser" source="npm"/>
 
<!--    Cache Clear-->
<!--<plugin name="cordova-plugin-cache-clear" source="npm"/>-->
    
<!--    From OneSignal Web site Doc-->
<gap:plugin name="onesignal-cordova-plugin" spec="2.4.5" source="npm" />
    
<name>Virka</name>
<allow-intent href="http://*/*" />
<allow-intent href="https://*/*" />
    
<allow-intent href="tel:*"/>
<!--<allow-intent href="sms:*"/>-->
<allow-intent href="mailto:*"/>

<!--    to allow ccsg iFrame only-->
<!--    <allow-navigation href="http://www.ccstgeorges.com/" />-->
    
<!--    To allow any iFrame-->
<allow-navigation href="*" />
    
<platform name = 'android'>
<!--    <icon src='icons/android/ldpi.png' platform='android' qualifier='ldpi' />-->
    
<!--  ==============  Icon à changer ============== -->
    <icon src="logo-VIRKA.png"/> 
<!--==========================================-->

</platform>
    
<!--  ==============  Icon à changer ============== -->
<platform name = 'ios'>
    <icon src='icon_iOS_1024x1024.png' platform='ios' width='1024' height='1024' />
    <icon src='icon_iOS_152x152.png' platform='ios' width='152' height='152' />
    <icon src='icon_iOS_120x120.png' platform='ios' width='120' height='120' />
    <icon src='icon_iOS_76x76.png' platform='ios' width='76' height='76' />
    <icon src='icon_iOS_40x40.png' platform='ios' width='40' height='40' />
</platform>
<!--==========================================-->
<platform name = 'winphone'>
 <icon src="logo-VIRKA.png"/> 
</platform>
    
<!--<icon src="logo-VIRKA.png"/>-->
  <description>
      Carte de membre Virka.
  </description>

  <author href="www.amcreatives.ca" email="aboubakr.mekhatria@gmail.com">
      amcreatives.ca Aboubakr Mekhatria
  </author>

    <preference name="orientation"  value="landscape"></preference>
   <preference name="android-minSdkVersion" value="26" /> <!-- value="26" For Android version 8.0 and up-->

<!--===========================================-->
    <!-- Not to include for the current version 27 dec 2018-->



<!-- Requires cli-8.0.0 but we recommend using the latest version. -->
<preference name="phonegap-version" value="cli-8.0.0" />

<preference name="android-build-tool" value="gradle" />
<preference name="android-minSdkVersion" value="16" />
<!--===========================================-->

<!-- Can omit if not targetting Windows Phone -->
<!--
<preference name="windows-appx-target" value="8.1-phone" />
<preference name="WindowsToastCapable" value="true" />
-->
    
</widget>


